* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
    color: red;
}

header {
    background-image: url('resources/Kozura Gardens/kg_peaches_1.jpg');
    
}

nav {
    
}